ci:
  skip: [detect-aws-credentials, pylint]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.6.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch=main]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: detect-aws-credentials
      - id: check-added-large-files
        args: [--maxkb=100]
        exclude: "^LICENSES/third_party/third-party-licenses.txt$"
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-yaml
      - id: check-ast
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/sigopt/sigopt-tools.git
    rev: "v0.0.2"
    hooks:
      - id: copyright-license-disclaimer
        args: ["--license=MIT", "--owner=Intel Corporation"]
      - id: sigoptlint-python
      - id: sigoptlint-shell
  - repo: https://github.com/sigopt/black.git
    rev: sigopt-22.10.0
    hooks:
      - id: black
        args: [--preview]
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/PyCQA/isort.git
    rev: "5.13.2"
    hooks:
      - id: isort
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: env PYTHONPATH=./test pylint
        language: system
        types: [python]
        args: ["-rn", "-sn"]
  - repo: https://github.com/jendrikseipp/vulture.git
    rev: "v2.11"
    hooks:
      - id: vulture
        entry: tools/run_vulture.sh
        args: [.vulture_allowlist]
