[FORMAT]
indent-string='  '
max-line-length=120

[MESSAGES CONTROL]
disable=
  abstract-method,
  broad-except,
  consider-using-with,
  duplicate-code,
  fixme,
  global-statement,
  import-outside-toplevel,
  invalid-name,
  missing-docstring,
  no-else-return,
  no-member,
  no-self-use,
  no-value-for-parameter,
  protected-access,
  redefined-builtin,
  redefined-outer-name,
  superfluous-parens,
  too-few-public-methods,
  too-many-arguments,
  too-many-instance-attributes,
  too-many-locals,
  too-many-public-methods,
  too-many-return-statements,
  too-many-statements,
  unsubscriptable-object,
  unused-argument,
  unused-wildcard-import,
  useless-object-inheritance,
  wildcard-import,
  wrong-import-order,
  wrong-import-position
