sudo: false
language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "pypy"
cache:
  pip: false
install:
  - pip install -r requirements-dev.txt
  - pip install -r requirements.txt
  - python setup.py clean --all
  - python setup.py install
script:
  - make test
  - make lint

