sudo: false
language: python
matrix:
  include:
    - python: "2.7"
    - python: "3.4"
    - python: "3.5"
    - python: "3.6"
    # python 3.7 not natively supported yet. https://github.com/travis-ci/travis-ci/issues/9815
    # NOTE(patrick): Disabled for now since installing numpy in this xenial / sudo environment
    # is a headache. Hoping that travis supports python 3.7 soon
    # - python: "3.7"
    #  dist: xenial
    #  sudo: true
    - python: "pypy"
    - python: "pypy3"
cache:
  pip: false
install:
  - make update
script:
  - make test
  - '[[ ! "$(python --version)" = "Python 3.6."* ]] || (pip install pylint==2.3.0 && make lint)'
