# For continuous integration and development

Pillow
flake8==3.8.4
isort==5.12.0
matplotlib>=3.3.4
mock>=3.0.5
nose==1.3.7
notebook
numpy>=1.15.0,<2.0.0
pylint==2.9.6
pymongo==3.12.3
pyspark
pytest==7.2.1
setuptools>=47.3.1
twine>=3.2.0,<4.0.0
scikit-learn>=0.23.2
vulture==2.3.0
