version: 2.1

commands:
  setup_python3_kernel:
    steps: 
      # Get jupyter notebook compilation working in Python 2 tests
      # https://ipython.readthedocs.io/en/latest/install/kernel_install.html#kernels-for-python-2-and-3
      - run: '[[ ! "$(python --version 2>&1)" = "Python 2."* ]] || curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py'
      - run: '[[ ! "$(python --version 2>&1)" = "Python 2."* ]] || sudo python3 get-pip.py'
      - run: '[[ ! "$(python --version 2>&1)" = "Python 2."* ]] || sudo python3 -m pip install ipykernel'
      - run: '[[ ! "$(python --version 2>&1)" = "Python 2."* ]] || python3 -m ipykernel install --user'
  setup:
    steps:
      - checkout
      - run: sudo make update
  test:
    steps:
      - setup
      - setup_python3_kernel
      - run: make test
  lint:
    steps:
      - setup
      - run: sudo pip install pylint==2.3.1
      - run: make lint

jobs:
  lint:
    docker:
      - image: circleci/python:3.9
    steps:
      - lint
  test-39:
    docker:
      - image: circleci/python:3.9
    steps:
      - test
  test-38:
    docker:
      - image: circleci/python:3.8
    steps:
      - test
  test-37:
    docker:
      - image: circleci/python:3.7
    steps:
      - test
  test-36:
    docker:
      - image: circleci/python:3.6
    steps:
      - test
  test-27:
    docker:
      - image: circleci/python:2.7
    steps:
      - test

workflows:
  main:
    jobs:
      - test-27
      - test-36
      - test-37
      - test-38
      - test-39
      - lint
