version: 2.1

orbs:
  slack: circleci/slack@4.4.4

slack-fail-post-step: &slack-fail-post-step
  - slack/notify:
      branch_pattern: master
      channel: eng
      event: fail
      template: basic_fail_1

commands:
  setup:
    steps:
      - checkout
      - run: sudo pip install --upgrade pip setuptools
      - run: sudo make update
  test:
    steps:
      - setup
      - run: make test
  lint:
    steps:
      - setup
      - run: sudo pip install pylint==2.9.6
      - run: make lint

jobs:
  lint:
    docker:
      - image: circleci/python:3.9
    steps:
      - lint
  test-39:
    docker:
      - image: circleci/python:3.9
    steps:
      - test
  test-38:
    docker:
      - image: circleci/python:3.8
    steps:
      - test
  test-37:
    docker:
      - image: circleci/python:3.7
    steps:
      - test
  test-36:
    docker:
      - image: circleci/python:3.6
    steps:
      - test

  final-catch-all:
    docker:
      - image: cimg/base:stable
    steps:
      - run:
          name: Success
          command: |
            exit 0

workflows:
  main:
    jobs: &jobs
      - test-36
      - test-37
      - test-38
      - test-39
      - lint
      - final-catch-all:
        context: slack-secret
        requires:
        - test-36
        - test-37
        - test-38
        - test-39
        - lint
        post-steps: *slack-fail-post-step

  rot-check:
    jobs: *jobs
    triggers:
      - schedule:
          cron: "0 8,16 * * *"
          filters:
            branches:
              only:
                - master
