version: 2.1

commands:
  prepare-for-numpy-install:
    # installing numpy from source runs into problems without this
    steps:
      - run: 'sudo ln -s /usr/include/locale.h /usr/include/xlocale.h'
  test:
    steps:
      - checkout
      - run: sudo make update
      - run: make test
  lint:
    steps:
      - run: sudo pip install pylint==2.3.1
      - run: make lint


jobs:
  test-38:
    docker:
      # TODO(patrick): Update image after 3.8 release
      - image: circleci/python:3.8-rc
    steps:
      - prepare-for-numpy-install
      - test
  test-37:
    docker:
      - image: circleci/python:3.7
    steps:
      - prepare-for-numpy-install
      - test
  test-36:
    docker:
      - image: circleci/python:3.6
    steps:
      - test
      - lint
  test-35:
    docker:
      - image: circleci/python:3.5
    steps:
      - test
  test-34:
    docker:
      - image: circleci/python:3.4
    steps:
      - test
  test-27:
    docker:
      - image: circleci/python:2.7
    steps:
      - test

workflows:
  main:
    jobs:
      - test-27
      - test-34
      - test-35
      - test-36
      - test-37
      - test-38
