version: 2.1

commands:
  setup:
    steps:
      - checkout
      - run: sudo make update
  test:
    steps:
      - setup
      - run: make test
  lint:
    steps:
      - setup
      - run: sudo pip install pylint==2.3.1
      - run: make lint

jobs:
  lint:
    docker:
      - image: circleci/python:3.8
    steps:
      - lint
  test-38:
    docker:
      - image: circleci/python:3.8
    steps:
      - test
  test-37:
    docker:
      - image: circleci/python:3.7
    steps:
      - test
  test-36:
    docker:
      - image: circleci/python:3.6
    steps:
      - test
  test-27:
    docker:
      - image: circleci/python:2.7
    steps:
      - test

workflows:
  main:
    jobs:
      - test-27
      - test-36
      - test-37
      - test-38
      - lint
