name: SigOpt Python tests
run-name: ${{ github.actor }} is testing ${{ github.repository }}@${{ github.ref }}
on:
  - push
jobs:
  test-cli:
    runs-on: ubuntu-latest
    env:
      AWS_DEFAULT_REGION: us-east-1
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - run: pip install '.[orchestrate]' -r requirements-dev.txt
      - run: pytest -rw -v test/cli
  test-client:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - run: pip install . -r requirements-dev.txt
      - run: pytest -rw -v test/client
  test-orchestrate:
    runs-on: ubuntu-latest
    env:
      AWS_DEFAULT_REGION: us-east-1
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - run: pip install '.[orchestrate]' -r requirements-dev.txt
      - run: pytest -rw -v test/orchestrate
  test-runs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - run: pip install . -r requirements-dev.txt
      - run: pytest -rw -v test/runs test/validate
  test-xgboost:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - run: pip install '.[xgboost]' -r requirements-dev.txt
      - run: pytest -rw -v test/xgboost
  pylint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - run: pip install '.[dev]'
      - run: pre-commit run pylint --all-files
